*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.iframe{
    width:60%;
    height:100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.contain{
    width: 100%;
    height: 1120px;
    margin: auto;
    display: flex;
}
.side{
    width: 30%;
    height: 1120px;
    background-color: #fff;
    border-right: 2px solid lightgray;
    color: #000000;
    padding: 30px;
}
.side p{
    font-size: 12px;
}
.side h1{
    font-size: 25px;
    text-align: center;
}
.side .title{
    font-size: 16px;
}
.side #apellidoModal{
    margin-bottom: 20px
}
.side ul li{
    font-size: 12px;
}
/* .side .foto{
    width: 240px;
    height: 240px;
    border: 5px solid #fff;
    border-radius: 50%;
    background-image: url(./img/foto_perfil.jpg);
    background-position: top;
    background-size: cover;
    margin: auto;
    margin-bottom: 20px;
} */
.side .nombre_apellido{
    margin-bottom: 10px;
}
.side .info_contacto{
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;

}
.side ul li{
    padding: 3px;
    margin-bottom: 6px;
    list-style: none;
}
.title{
    margin-bottom: 20px;
    font-size: 20px;
}
.side .habilidades,
.side .habilidades_it{
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
}



/* =================================
              MAIN
================================= */
.maine p,
.maine span,
.maine #p_descripcion{
    font-size: 12px;
}
.maine .exp_title{
    font-size: 14px;
}
.maine{
    width: 70%;
    height: 1120px;
    padding: 10px;
    background-color: #fff;
    color: #000;
}
.maine .main_title{
    margin: 10px 0;
    font-size: 16px;
}
.expe_laboral strong{
    font-size: 14px;
}
.exp_lab,
.form_acad,
.cursos,
.referencias{
    width: 100%;
    padding: 5px;
    display: flex;
    
}
.maine .info{
    width: 40%;
    height: auto;
    /* display: flex; */
}
.maine .descripcion{
    width: 60%;
    height: auto;
    padding: 0 1em 1em 1em ;
}
#fech_ini,
#fech_fin{
    font-style: italic;
}
.exp_title{
    color: #285f81;
}
.maine .bold,
.side .bold{
    font-weight: bolder;
}

/* =============================================
          cuadrito de vista previa
============================================= */

iframe{
    width: 100%;
    height: 226px;
    border: none;
}